@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
}

.app {
    background: var(--white);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}

.app h1 {
    font-weight: 25px;
    color: var(--blue);
    font-weight: 600;
    border-bottom: 1px solid var(--black);
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: var(--blue);
    font-weight: 600;
}

.btn {
    background: var(--white);
    color: var(--black);
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--black);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: var(--gray);
    color: var(--white);
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: var(--green);
}

.incorrect {
    background: var(--red);
}

